/*General*/


[class*="meliconnect"] div.error, 
[class*="meliconnect"] .notice.is-dismissible:not(.melicon-admin-notice),
[class*="meliconnect"] #wpbody-content .notice:not(.melicon-admin-notice),
body[class*="meliconnect"] .wrap .notice:not(.melicon-admin-notice), 
body[class*="meliconnect"] .update-nag, 
body[class*="meliconnect"] #vc_license-activation-notice, 
body[class*="meliconnect"] .yoast-notice-error, 
body[class*="meliconnect"] #mailster-notice-verify, 
.notice is-dismissible {
    visibility: hidden;
    display: none;
}

div.notice.melicon-admin-notice {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}

div.notice.melicon-admin-notice p {
    margin: 0 !important;
    font-size: 14px !important;
    color: #72777c;
}

.mc-notice-alert-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 5px;
}

.mc-notice-logo{
    box-sizing: content-box;
    display: contents;
}

.mc-notice-logo > img {
    height: 50px;
    padding: 10px 20px 10px 10px;
}

.mc-notice-alert-container {
    display: flex;
    align-items: center;
}

.mc-notice-alert-msg{
    padding: 5px 10px 0 10px;
}

.meliconnect-notice-error-action {
    float: right;
    padding: 0 10px;
}

.wrap.mercadolibre-dashboard p, 
body[class*="meliconnect"] p.meliconnect-text, 
body[class*="meliconnect"] .columns p {
    font-size: 14px;
    color: #72777c;
}

div#prompt-tags-info button.tag-button {
    background-color: #eaf0ff;
    border: 1px solid #d0daf2;
    border-radius: 4px;
    padding: 4px 15px;
    font-size: 15px;
}

/*Settings New 2024*/

div#melicon-settings .switch[type=checkbox]+label, div#melicon-settings label {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2em;
    padding-top: 0;
}

div#melicon-settings label {
    display: flex;
}

div#melicon-settings .tabs.is-toggle li {
    font-size: 15px;
}
div#melicon-settings .tabs.is-toggle li a {
    padding: 0.7em 2em;
    background: #FFF;
}

div#melicon-settings .tabs.is-toggle li:hover a {
    background: #284256;
    border-color: #284256;
    color: #FFF;
}

div#melicon-settings .tabs.is-toggle li.is-active a {
    background-color: #3E8ED0;
    border-color: #3E8ED0;
}

div#melicon-settings .title.is-5 {
    margin-bottom: 90px;
    font-size: 26px;
}

div#melicon-import-product-info {
    margin-top: 35px;
}

div#melicon-settings code {
    margin-top: 15px;
}

/*Dashboard Page*/

div#meliconnect-div-logs-dashboard [class*=col-] {
    margin-bottom: 25px;
}

.meliconnect-welcome-panel.meliconnect-user-meli .meliconnect-user-box>.container {
    width: inherit;
    padding: 0px 5px;
}

/*Fin Dashboard Page*/

/*Page Orders*/

td.meliconnect_order_status.column-meliconnect_order_status {
    text-align: center;
    position: relative;
}

span.woo-comment-responded.dashicons.meliconnect-comments-icon.meliconnect-have-comments {
    position: relative;
}

span.woo-comment-not-responded.dashicons.meliconnect-comments-icon.meliconnect-have-comments {
    position: relative;
}
span.numMessageOrder {
    display: inline-flex;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0;
    min-width: 18px;
    height: 18px;
    border-radius: 9px;
    font-size: 11px;
    line-height: 1.6;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: -13px;
    right: -7px;
    background: #D63638;
    color: #FFF;
}

span.woo-comment-responded.meliconnect-have-comments span.numMessageOrder {
    position: absolute;
    top: -12px;
    right: -7px;
    background: #c6e1c6;
    border-radius: 50px;
    height: 18px;
    width: 18px;
    line-height: 1.3;
    font-size: 12px;
    color: #5b841b;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

[id*=meliconnect] .modal-card-head {

}

.modal-card-body ul.order_notes textarea#message_new_text_ml {
    margin-bottom: 25px;
}


li.note.system-note p.meta {
    text-align: right;
}

/*GDT*/

div#melicon-modal_view_gdt {
    z-index: 9999;
}

/*Pagina Envios*/

#meliconnect-greetings-container input:not(.switch-input):not(#signature-check) {
    width: 100%;
    height: 60px;
    margin-top: 5px;
}

/*Pagina sincronizador*/

.melicon-sincronizador-settings header.d-flex {
    display: flex;
}

/*Pagina Dashboard*/

.meliconnect-welcome-panel ul.ml-body-top-dashboard-ul {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

/*Connection Page */

div#sync-hub-results {
    padding-bottom: 30px;
}

/*Olg Pagina Settings General*/

.meliconnect-tabs-settings {
    display: none;
}

.meliconnect-content-tab-settings {
    padding: 25px;
}

.meliconnect-content-tab-settings #meliconnect-card-general, .meliconnect-content-tab-settings div#meliconnect-card-cron {
    display: none;
}

.meliconnect-content-tab-settings .meliconnect-card-container .col-6 .button {
    margin: 40px 0px 20px 11px;
}

.meliconnect-content-tab-settings #meliconnect-card-publications tr {

}

/*Import page*/

p#step-three-import {
    background-color: #48c78e;
    border-color: transparent;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

div#meliconnect-table-import-clone_filter input[type="search"] {
    height: 40px;
}

select#_ml_meli_user {
    min-width: 200px;
    height: 43px;
    border: 1px solid #eaf0ff;
}

.meliconnect-importer .meliconnect-text-container.alert {
    width: inherit;
    margin-bottom: 5px;
    box-shadow: none;
}

[class*=meliconnect-premium-menu-importador] .wrap.woocommerce>h1 { /*Borrar luego de quitarlo del html*/
    display: none !important;
}

[class*=meliconnect-premium-menu-importador] .woocommerce-progress-form-wrapper {
}

[class*=meliconnect-premium-menu-importador] input#save_step, div#reimportSession, .meliconnect-admin-page .wc-actions .button {
    background-color: #00779f;
    border-color: transparent;
    color: #fff;
}

[class*=meliconnect-premium-menu-importador] .woocommerce-progress-form-wrapper .button {
    box-shadow: none;
    text-shadow: none;
    min-height: 40px;
}

div#sessionButtons {
    text-align: center;
    padding-top: 47px;
    display: block;
}

[class*=meliconnect-premium-menu-importador] .woocommerce-progress-form-wrapper .wc-progress-steps li {
    font-size: 15px;
}

[class*=meliconnect-premium-menu-importador] .woocommerce-progress-form-wrapper .wc-progress-steps li.done {
    border-color: #81CDF2;
    color: #81CDF2;
}

.meliconnect-import-steps li.done::before {
    border-color: #81CDF2 !important;
    background: #81CDF2 !important;
}

[class*=meliconnect-premium-menu-importador] .wc-progress-form-content header p {
    font-weight: 400;
    font-size: 16px;
}

[class*=meliconnect-premium-menu-importador] h2.title-dashboard i, [class*=meliconnect-premium-menu-importador] .wc-progress-form-content header p>i {
    display: none;
}

[class*=meliconnect-premium-menu-importador] form.wc-progress-form-content.woocommerce-importer #meliconnect-section {
	min-height: 150px;
    margin-bottom: 50px;
}

label[for="meliconnect_import_hide_closed"], input#meliconnect_import_hide_closed, label[for="meliconnect_import_hide_under_review"], input#meliconnect_import_hide_under_review {
    display: none;
}

.meliconnect_import_info.meliconnect-msg-alert-info {
    margin-top: 20px;
}

label.meliconnect_import_options.hidden {
    font-weight: 600;
    margin-right: 20px;
}

#meliconnect-section div.meliconnect_import_options {
    margin-top: 8px;
}

div#meliconnect-table-import-clone_info {
    padding-left: 5px;
}

table#meliconnect-table-import-clone {
    margin-top: 60px !important;
    margin-bottom: 30px;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
}

table#meliconnect-table-import-clone tr th {
    height: 30px;
}

div#meliconnect-table-import-clone_wrapper {
    padding-top: 25px;
}

body[class*="meliconnect-premium-menu-importador"] h2.title-dashboard {
    margin: 10px;
    padding: 5px 0;
    margin: 0;
    line-height: 1.2em;
    font-size: 16px;
    width: 100%;
}

#meliconnect-table-import-clone_wrapper .dt-buttons .dt-button, #meliconnect-loading .button-meliconnect, div#loadSession {
    background-color: #eaf0ff;
    background: #eaf0ff;
    border-color: #dde6fc;
    color: #4b657e;
}

#meliconnect-table-import-clone_wrapper .dt-buttons .dt-button:hover, div#loadSession:hover, #meliconnect-loading .button-meliconnect:hover {
    background-color: #d0d9f0;
    border-color: #4b657e52;
    color: #4b657e;
}

body[class*="meliconnect-premium-menu-importador"] a.dt-button, body[class*="meliconnect-premium-menu-importador"] button{
    height: 40px;
    font-size: 14px;
    padding: 0 18px;
    flex-shrink: 0;
    line-height: 1.2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 4px;
    -webkit-appearance: none;
    cursor: pointer;
    transition: background-color .2s ease;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
}

[class*="meliconnect-premium-menu-importador"] td.sorting_1 {
    text-align: center;
}

.meliconnect-table-import-body td {
    text-align: center;
}

[class*="meliconnect-premium-menu-importador"] table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #d4d4d4;
}

[class*="meliconnect-premium-menu-importador"] table.dataTable tfoot th {
    border-top: 1px solid #d4d4d4;
}

[class*="meliconnect-premium-menu-importador"] .dataTables_wrapper .dataTables_paginate .paginate_button.current, [class*="meliconnect"] .pagination-links [class*="-page"]:not(.total-pages):not(.current-page) {
    border-radius: 4px;
    background: #eaf0ff;
    border-color: #4b657e1c;
}

[class*="meliconnect-premium-menu-importador"] .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, [class*="meliconnect"] .pagination-links [class*="-page"]:hover:not(#current-page-selector) {
    background: #d0d9f0;
    border-color: #4b657e52;
    color: #4b657e !important;
    box-shadow: none;
    border-color: #b8c4e3;
}

[class*="meliconnect-premium-menu-importador"] .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #d0d9f0;
    border-color: #4b657e52;
    color: #4b657e !important;
    box-shadow: none;
    border-radius: 4px;
}

[class*="meliconnect-premium-menu-importador"] #url_output h2 {
    padding: 10px 20px;
    line-height: 1.3;
    font-size: 15px;
    color: #4b657e;
    font-weight: 400;
    background: #E4ECF3;
    box-sizing: border-box;
    border-radius: 3px;
}

[class*="meliconnect-premium-menu-importador"] #url_output ul {
    padding: 5px 0px;
    margin: 11px;
}

/*WP Single Product*/

.melicon-edit-product-box_content .content-tab .title.is-4 {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ededed;
    padding: 0px 0px 7px 0px;
}

.melicon-edit-product-box_content .content-tab .title.is-6 {
    font-size: 15px;
    font-weight: 400;
}

select#ml_action {
    font-size: 13px;
}

#melicon-edit-product-box a#refresh-metrics {
    margin-top: -16px;
}
#melicon-edit-product-box a#refresh-metrics .icon {
    display: flex;
    width: 30px;
    margin: 0px;
}

div#item_mapped_variations_data li>strong{
    display: block;
}

div#selected_product_metrics_data, div#selected_template_attrs_data, div#item_mapped_variations_data, #melicon-edit-product-box div#collapseAttrs {
    margin-top: 30px;
}
a#melicon-edit-box-export-btn, #template-general-data .buttons.level a:nth-child(2) { /*Ponerle un ID al boton de editar plantilla*/
    background: #4B657E;
}

a#melicon-edit-box-export-btn:hover, #template-general-data .buttons.level a:nth-child(2):hover {
    background: #00779f;
}

#melicon-edit-box_template_editable_inputs>.columns>.column {
    padding-bottom: 0px;
}

#melicon-edit-product-box .melicon-field input, .melicon-field .input {
    min-height: 36px;
}

.melicon-field .dropdown-content {
    position: absolute;
    width: 100%;
    cursor: pointer;
    z-index: 1;
}

#melicon-edit-product-box  span.select2-selection, #melicon-edit-product-box .melicon-select.select select {
    min-height: 36px;
}

#melicon-template-no-editable-data .column, div#template-general-data {
    padding-left: 0px;
}

#melicon-edit-product-box #metrics .column, #melicon-template-no-editable-data .column, #selected_template_attrs_data .column { 
    padding-bottom: 0px;
}

#selected_template_attrs_data .melicon-input-container .checkbox {
    line-height: 1;
    padding-top: 30%;
}

[id*=meliconnect] span[data-tooltip], [class*=meliconnect] span[data-tooltip] { 
    border-bottom: 1px dashed #465f89;
    font-weight: 400;
    font-size: 13px;
    color: #4c648b;
}

[id*=meliconnect] [data-tooltip]:not(.is-disabled):before, [id*=meliconnect] [data-tooltip]:not(.is-loading):before, [id*=meliconnect]  [data-tooltip]:not([disabled]):before,
[class*=meliconnect] [data-tooltip]:not(.is-disabled):before, [class*=meliconnect] [data-tooltip]:not(.is-loading):before, [class*=meliconnect]  [data-tooltip]:not([disabled]):before {
    background: rgb(29 29 29 / 90%);
    padding: 20px 15px;
    border-radius: 4px;
}

[id*=meliconnect] [data-tooltip]:not(.is-disabled).has-tooltip-arrow.has-tooltip-arrow:after, 
[id*=meliconnect] [data-tooltip]:not(.is-loading).has-tooltip-arrow.has-tooltip-arrow:after, 
[id*=meliconnect] [data-tooltip]:not([disabled]).has-tooltip-arrow.has-tooltip-arrow:after {
    border-color: rgb(29 29 29 / 90%) transparent transparent;
}

#template-general-data div.melicon-field {
    padding-bottom: 0;
}

#selected_product_metrics_data>.column {
    padding-left: 0px;
}

#selected_product_metrics_data .column.is-12.tags {
    padding-top: 20px;
}

#meliconnect-item-settings .postbox-header, .melicon-edit-product-box_content, .melicon-edit-product-box_action-buttons, .melicon-item-actions.section {
    background: #F8FAFF;
}

#selected_product_metrics_data .tags .tag {
    background-color: #00779F;
    color: #ffffff;
}

#meliconnect-item-settings {
    border: 1px solid #dbdbdb;
    box-shadow: 0 2px 5px #0000000d;
}

#meliconnect-item-settings .postbox-header {
    padding: 5px 2em;
    border-color: #dbdbdb;
}
#meliconnect-item-settings .postbox-header h2 {
    font-weight: 600;
    padding: 0px 5px;
}

#melicon-edit-box_template_editable_inputs div.melicon-field {
    padding-bottom: 0px;
}

div#melicon-edit-box_template_editable_inputs {
    background: #FFF;
    border-radius: 4px;
    border: 1px solid #dcdee4;
    padding: 40px 35px;
}

.melicon-edit-product-box_tabs.tabs {
    background: #F8FAFF;
}

.melicon-edit-product-box_tabs.tabs ul {
    padding-left: 2em;
    padding-right: 2em;
    background: #FFF;
}

#melicon-edit-product-box .tabs a {
    min-height: 60px;
    font-size: 15px;
    padding-left: 0;
    padding-right: 50px;
    background: #FFF;
    border-bottom-color: #dbdbdb;
}

#melicon-edit-product-box .tabs li a {
    font-weight: 600;
}

#melicon-edit-product-box .tabs li.is-active a {
   color: #00779F;
}

#meliconnect-item-settings label.melicon-label {
    font-size: 14px;
}

.melicon-edit-product-box_action-buttons {
    border: 1px solid transparent;
    border-bottom: 1px solid #dbdbdb;
    border-top-color: transparent!important;
}

.section.melicon-item-data .level-item, a#melicon-toggle-export-errors {
    vertical-align: middle;
}
a#melicon-toggle-export-errors {
    border-radius: 4px;
    height: 2em;
    min-height: 2em;
    line-height: 1.2rem;
}

#meliconnect-item-settings .melicon-item-data.section, #meliconnect-item-settings .melicon-item-actions.section, #meliconnect-item-settings .melicon-edit-product-box_action-buttons, div#melicon-item-export-errors-header {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 3.5em;
    padding-right: 3.5em;
}

.melicon-item-data.section span.tag:not(body).is-white {
    background-color: #c1c1c1;
}
.melicon-item-data.section span.tag, a#melicon-toggle-export-errors {
    margin-left: 10px;
}

.melicon-item-actions.section {
    border-top: 1px solid #d6d8dc;
}

/*END Single Product*/

/* Page templates*/

[class*=meliconnect] .pagination-links [class*="-page"]:not(.total-pages):not(.current-page) {
    padding: 9px 15px 13px 15px;
    display: inline-flex;
    top: 2px;
    max-height: 40px;
}

[class*=meliconnect] .pagination-links span.tablenav-pages-navspan.button {
    height: 40px;
}

[class*=meliconnect] .tablenav-pages .pagination-links .current-page {
    height: 40px;
    top: 1px;
    position: relative;
    font-size: 15px;
}

[class*=meliconnect] .tablenav-pages .pagination-links span.paging-input {
    font-size: 15px;
}

[class*=meliconnect] .pagination-links [class*="-page"] span, [class*=meliconnect] .pagination-links span[class*="tablenav"]:not(.tablenav-paging-text) {
    font-size: 22px;
}

[class*="meliconnect-premium-plantillas-create"] .melicon-select.select select {
    background: #eaf0ff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
}

table[class*="meliconnect-premium-plantillas"] td.column-actions .button-meliconnect {
    padding: 15px 11px;
}

span#reset-category-select {
    padding-left: 0 !important;
    display: flex;
    font-size: 14px;
    margin-top: 15px;
}

span#reset-category-select a {
    margin-top: 10px;
    border: 1px;
    color: #4b657e;
}

/*WP Listing products*/

i.fad.fa-unlink.meliconnect-product-problems {
    left: 50%;
    top: 7px;
    font-size: 17px;
    color: #c43753;
}

i.fad.fa-exclamation-triangle.meliconnect-product-problems {
    left: 55%;
    top: 7px;
    font-size: 20px;
    color: #c43753;
}

table.wp-list-table .column-status_ml span.melicon-template-name a {
    font-family: inherit;
    font-size: 12px;
    padding: 5px 5px;
    background: #EAF0FF;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #dde6fc;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table.wp-list-table .column-status_ml span.meliconnect-codigo, table.wp-list-table .column-status_ml p.meliconnect-error-codigo, table.wp-list-table .column-status_ml span.melicon-template-name {
    margin: 5px 0;
    text-align: center;
    /*display: block;*/
    display: grid;
    position: relative;
}

table.wp-list-table .column-status_ml span.meliconnect-codigo a {
    display: inline-block;
    color: #2F3476;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 5px;
    background: #ffffff;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #efefef;
}
table.wp-list-table .column-status_ml span.meliconnect-codigo:before {
	content: none;
}

table.wp-list-table .column-status_ml span:not(.meliconnect-codigo):not(.melicon-template-name) {
    position: relative;
    font-family: "Font Awesome 5 Duotone" !important;
    font-weight: 900 !important;
    line-height: 1;
    color: #4B657E;
}
.column-status_ml span:not(.meliconnect-codigo):before {
    position: absolute;
    color: var(--fa-primary-color,inherit);
    opacity: 1;
    opacity: var(--fa-primary-opacity,1);
}
.column-status_ml span:not(.meliconnect-codigo):after {
    opacity: .4;
    opacity: var(--fa-secondary-opacity,.4);
    color: var(--fa-secondary-color,inherit);
}
table.wp-list-table .column-status_ml span.meliconnect-product-activo-ml:before {content: "\f144";}
table.wp-list-table .column-status_ml span.meliconnect-product-activo-ml:after {content: "\10f144";}

table.wp-list-table .column-status_ml span.meliconnect-product-revision-ml:before {content: "\f070";}
table.wp-list-table .column-status_ml span.meliconnect-product-revision-ml:after {content: "\10f070";}

table.wp-list-table .column-status_ml span.meliconnect-product-problems:before {content: "\f127";}
table.wp-list-table .column-status_ml span.meliconnect-product-problems:after {content: "\10f127";}

table.wp-list-table .column-status_ml span.meliconnect-product-sinconexion-ml:before {content: "\f127";}
table.wp-list-table .column-status_ml span.meliconnect-product-sinconexion-ml:after {content: "\10f127";}

table.wp-list-table .column-status_ml span.meliconnect-product-pausado-inventario-ml:before {content: "\f04c";}
table.wp-list-table .column-status_ml span.meliconnect-product-pausado-inventario-ml:after {content: "\10f04c";}

table.wp-list-table .column-status_ml span.meliconnect-product-pausado-ml:before {content: "\f28b";}
table.wp-list-table .column-status_ml span.meliconnect-product-pausado-ml:after {content: "\10f28b";}

table.wp-list-table .column-status_ml span.meliconnect-product-finalizado-ml:before {content: "\f28d";}
table.wp-list-table .column-status_ml span.meliconnect-product-finalizado-ml:after {content: "\10f28d";}

.widefat tfoot tr th.column-meliconnect_order_status, .widefat thead tr th#meliconnect_order_status, .widefat thead tr th#status_ml, .widefat tfoot tr th.column-status_ml {
    text-indent: -9999px;
    background-image: url(../image/ml-list-25.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

table.wp-list-table th#status_ml {
    width: 200px;
}

table.wp-list-table .column-status_ml span[class*="meliconnect-product-"] {
    font-size: 26px;
    text-align: center;
    display: block;
}

/*END WP Listing products*/


/*Pagina preguntas*/

div#meliconnect-tags-actions i.button {
    border: none;
    background: none;
    font-size: 16px;
}

div#meliconnect-new-tag input#input-tag::placeholder {
    color: #223F5A;
    text-align: left;
}

button#meliconnect-new-tag-btn {
    margin-top: 7px;
}

#melicon-modal-fast-response h5 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}

/*Selects and Select2*/

body[class*="meliconnect"].wp-core-ui .select2-container--default .select2-selection--single .select2-selection__arrow {
    background: none;
}

[class*="meliconnect"] select, body[class*="meliconnect"].wp-core-ui .select2-container .select2-selection--single, body[class*="meliconnect"].wp-core-ui select#meliconnect-per-run {

}

/*FIN Selects and Select2*/


/*INICIO GENERAL CSS*/

@import url("../font-awesome/css/all.min.css");

.meliconnect-admin-page div#wpbody-content {
    margin-top: 112px;
    padding-top: 40px;
}

*:focus {
    outline: none;
}

.melicon-container {
    font-size: 16px;
}

/*Tablas generales*/

table[class*=meliconnect], .meliconnect-custom-table table {
    border: 1px solid #dbdbdb;
    box-shadow: 0 2px 5px #0000000d;
}
table[class*=meliconnect] td , .meliconnect-custom-table table td{
    vertical-align: middle;
    padding: 15px 15px;
}
table[class*=meliconnect] td.column-primary, .meliconnect-custom-table table td.column-primary {
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}
table[class*=meliconnect] thead tr th, 
table[class*=meliconnect] tfoot tr th, 
.meliconnect-custom-table table thead tr th, 
.meliconnect-custom-table table tfoot tr th {
    padding: 20px 15px !important;
    color: #141b38;
    font-size: 14px;
    font-weight: 500;
}

table[class*=meliconnect] thead tr th#id, 
table[class*=meliconnect] tfoot tr th.column-id, 
.meliconnect-custom-table table thead tr th#id,  
.meliconnect-custom-table table tfoot tr th.column-id {
    width: 65px;
    text-align: center;
}

table[class*=meliconnect] thead tr th.sortable a, 
table[class*=meliconnect] thead tr th.sorted a, 
.meliconnect-custom-table table thead tr th.sortable a, 
.meliconnect-custom-table table thead tr th.sorted a {
    padding:0px !important
}

/*END Tablas*/

/*Fields and Selects and Checkbox*/


body[class*="meliconnect"].wp-core-ui code {
	border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 12px 25px;
    display: inline-block;
    margin: 1px;
}


[id*=meliconnect] div.field>.checkbox:not(:first-child) {
    margin-left: 15px;
}

[id*=meliconnect] .checkbox {
    /*display: inline-flex;*/
}

[id*=meliconnect] input[type=radio] {}


.melicon-wizard-section .melicon-input-container:not(.mb-2) label[class=checkbox] {
    padding-top: 18px;
}

.melicon-wizard-section label[class=checkbox] {
    font-size: 14px;
}

.melicon-wizard-section label.melicon-label {
    font-size: 14px;
}

[id*=meliconnect] input[type=checkbox], [class*=meliconnect] input[type=checkbox] {
    height: 1.2rem;
    width: 1.2rem;
    min-width: 1.2rem;
    box-shadow: none;
    border-radius: 2px;
    /*display: table-cell;*/
    vertical-align: middle;
}

[id*=meliconnect] input[type=checkbox]:checked::before {
    margin: -0.0875rem 0 0 -0.18rem;
}

[class*=meliconnect] .input, [class*=meliconnect] .select select, body[class*="meliconnect"].wp-core-ui select, [class*=meliconnect] .textarea {
    /*background-color: #fff;
    border-color: #dbdbdb;*/
    background-color: #eaf0ff;
    border-color: #d0daf2;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 15px;
}

div.melicon-field {
    /*padding-bottom: 15px;*/
    min-height: 42px;
}

label.melicon-label {
    font-weight: 400;
    font-size: 15px;
    align-items: center;
}

/*END Fields ands Selects*/

.meliconnect-postbox.meliconnect-duplicated, .meliconnect-postbox.meliconnect-intro {
    display: flex;
    position: relative;
    margin-bottom: 38px;
    padding-bottom: 15px;
}

/*Cambiar del html el prefijo melicon por meliconnect al hacerlo se puede eliminar esto de abajo y queda cubierto con el de arriba*/

.melicon-postbox.melicon-duplicated, .melicon-postbox.melicon-intro {
    display: flex;
    border-bottom: 2px solid #E8E8EB;
    position: relative;
    margin-bottom: 38px;
    padding-bottom: 15px;
}

[class*=meliconnect] .button.is-info.button-meliconnect {
    margin-right: 5px;
}

body[class*=meliconnect] button.meliconnect-activate-settings {
    background-color: #00d1b2 !important;
    border-color: transparent !important;
    color: #fff !important;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}
body[class*=meliconnect] button.meliconnect-activate-settings:hover {
    background-color: #00c4a7;
    border-color: transparent;
    color: #fff;
}

[class*=meliconnect] .button.is-info.is-outlined, [id*=meliconnect] .button.is-info.is-outlined, span#reset-category-select a, a#view-hidden-attrs, div#melicon-return-to-category-selector a, div#melicon-return-to-category-predictor a {
    background-color: #eaf0ff;
    border-color: #dde6fc;
    color: #4b657e;
}

[class*=meliconnect] .button.is-info.is-outlined.is-focused, [class*=meliconnect] .button.is-info.is-outlined.is-hovered, [class*=meliconnect] .button.is-info.is-outlined:focus, 
[class*=meliconnect] .button.is-info.is-outlined:hover, span#reset-category-select a:hover, a#view-hidden-attrs:hover, div#melicon-return-to-category-selector a:hover, div#melicon-return-to-category-predictor a:hover {
    background-color: #d8e3fe;
    border-color: #d8e3fe;
    color: #4b657e;
}

[id*=meliconnect] .button.is-info.is-outlined.is-focused, [id*=meliconnect] .button.is-info.is-outlined.is-hovered, [id*=meliconnect] .button.is-info.is-outlined:focus, [id*=meliconnect] .button.is-info.is-outlined:hover {
    background-color: #d8e3fe;
    border-color: #d8e3fe;
    color: #4b657e;
}

[class*=meliconnect] .button.is-info.is-outlined.is-focused, [class*=meliconnect] .button.is-info.is-outlined.is-hovered, [class*=meliconnect] .button.is-info.is-outlined:focus, [class*=meliconnect] .button.is-info.is-outlined:hover {
    background-color: #d8e6f6;
    border-color: #4b657e1c;
    color: #4b657e;
}

[class*=meliconnect] .button-meliconnect.is-info, [id*=meliconnect] .button-meliconnect.is-info {
    /*background-color: #00779f !important;*/
}
div#melicon-return-to-category-selector, div#melicon-return-to-category-predictor {
    margin-top: 22px;
}

div#melicon-return-to-category-selector a, div#melicon-return-to-category-predictor a {
    margin-left: 10px;
}

[class*=meliconnect] .button-meliconnect, [id*=meliconnect] .button-meliconnect, span#reset-category-select a, div#melicon-return-to-category-selector a, div#melicon-return-to-category-predictor a {
    height: 36px;
    font-size: 14px;
    padding: 0 18px;
    flex-shrink: 0;
    line-height: 1.2 !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 4px;
    -webkit-appearance: none;
    cursor: pointer;
    transition: background-color .2s ease;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
}

.button-meliconnect.float-end {
    position: absolute !important;
    right: 0 !important;
    bottom: 10px !important;
}

[class*="meliconnect"] .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 15px;
    font-weight: 400;
    padding-left: 15px;
}
[class*="meliconnect"] span.select2-selection, .melicon-select.select select, body[class*="meliconnect"].wp-core-ui select {
    font-size: 14px;
    min-height: 38px;
    flex-shrink: 0;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: left;
    background: #eaf0ff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
    background-size: 16px 16px;
}

[class*="meliconnect"] .select2-container--default.select2-container--disabled [class*="select2-selection"] {
    cursor: default;
    opacity: 0.6;
}

[class*="meliconnect"] .select2-selection__arrow b {
    border: none !important;
    left: inherit !important;
    height: inherit !important;
    margin-left: inherit !important;
    margin-top: inherit !important;
    position: inherit !important;
    top: inherit !important;
    width: inherit !important;
}


.melicon-field input, .melicon-field .input {
    font-size: 14px;
    font-weight: 400;
    padding-left: 15px;
    min-height: 38px;
}

#wp_ml_syncbox .inside, #meliconnect-item-settings .inside {
    padding: 0px;
    margin: 0px;
}

.melicon-container-fluid, .melicon-container {
    margin-right: auto;
    margin-left: auto;
}

[class*="_page_meliconnect-premium-sync-config"] .wrap.melicon-sincronizador-settings>.col-xs-12 {
    margin-bottom: 30px;
}

.melicon-container:not(.header-container), body[class*="meliconnect"] .wrap.melicon-sincronizador-settings {
    padding-top: 20px;
}


[data-tooltip]:not(.is-disabled).has-tooltip-active:after, [data-tooltip]:not(.is-disabled).has-tooltip-active:before, [data-tooltip]:not(.is-disabled):hover:after, [data-tooltip]:not(.is-disabled):hover:before, [data-tooltip]:not(.is-loading).has-tooltip-active:after, [data-tooltip]:not(.is-loading).has-tooltip-active:before, [data-tooltip]:not(.is-loading):hover:after, [data-tooltip]:not(.is-loading):hover:before, [data-tooltip]:not([disabled]).has-tooltip-active:after, [data-tooltip]:not([disabled]).has-tooltip-active:before, [data-tooltip]:not([disabled]):hover:after, [data-tooltip]:not([disabled]):hover:before {
    text-align: center;
    width: max-content;
    max-width: 300px;
}

body[class*=meliconnect].melicon-flyout-menu-enabled .melicon-app {
    padding-bottom: 40px;
}

body[class*=meliconnect].melicon-has-bar .melicon-app {
    min-height: calc(100vh - 193px);
}

body[class*=meliconnect] .melicon-app {
    /*min-height: calc(100vh - 153px);*/
}

.melicon-app {
    box-sizing: border-box;
    position: relative;
}

.melicon-app a:not(.melicon-button):not(.button-meliconnect) {
    color: #00779F;
}

.melicon-card {
    background-color: #fff;
    border: 1px solid #E8E8EB;
    box-shadow: 0 2px 5px #0000000d;
    margin: 3rem 0;
    padding: 3rem 4rem;
}

.melicon-form-helper {
    color: #86bae0;
}

/*END GENERAL CSS*/

/* Header */

.melicon-app .melicon-upgrade-bar {
    padding: 0 14px 0 40px;
}

.melicon-app .melicon-main {
    height: 100%;
}

body[class*=meliconnect] .melicon-header {
    height: 112px;
}

.melicon-app *, .melicon-app :after, .melicon-app :before {
    box-sizing: inherit;
}

.melicon-app .melicon-upgrade-bar {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #284256;
    justify-content: center;
    color: #ffffff;
    font-size: 13px;
}

.melicon-app .melicon-upgrade-bar .upgrade-text {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.melicon-app .melicon-upgrade-bar svg.melicon-close {
    cursor: pointer;
    width: 12px;
    height: 12px;
}

body[class*=meliconnect].melicon-has-bar .melicon-header {
    height: 112px;
}

body[class*=meliconnect].admin-bar .melicon-header, body[class*=meliconnect].admin-bar .melicon-notifications .overlay, body[class*=meliconnect].admin-bar .melicon-notifications .notification-menu {
    top: 32px;
}

body[class*=meliconnect] .melicon-header, body[class*=meliconnect] .melicon-notifications .overlay {
    left: 160px;
}

.melicon-header {
    z-index: 1051;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    height: 72px;
    color: #141b38;
}

.melicon-header .melicon-header-content svg.melicon-logo {
    height: 40px;
    margin-top: 8px;
}

.melicon-header .melicon-header-content svg.melicon-logo {
    margin-right: 10px;
    margin-top: 8px;
}

.melicon-header .melicon-header-content .spacer {
    transform: rotate(-72.26deg);
}

.melicon-header .melicon-header-content .spacer {
    display: inline-flex;
    width: 26.25px;
    height: 0px;
    border: 1px solid #D0D1D7;
}

.melicon-header .melicon-header-content .page-name {
    margin-left: 10px;
}

.melicon-header .melicon-header-content .page-name {
    display: inline-flex;
    font-size: 18px;
    font-weight: 400;
    flex: 1 0 auto;
}

.melicon-header .melicon-header-content .header-actions {
    display: flex;
}
.melicon-header .melicon-header-content .header-actions a {
    color: #141b38;
}

.melicon-header .melicon-header-content .header-actions .round {
    margin-left: 10px;
}

.melicon-header .melicon-header-content .header-actions .round {
    position: relative;
    background-color: #f3f4f5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease;
}

.melicon-header .melicon-header-content .header-actions .number {
    position: absolute;
    background-color: #3abb81;
    width: 16px;
    height: 16px;
    font-weight: 600;
    font-size: 10px;
    color: #fff;
    top: -8px;
    margin: 0;
    animation: bounce 2s 5;
    min-width: inherit;
}

.melicon-header .melicon-header-content .header-actions .number {
    left: 50%;
    transform: translate(-50%);
}

.melicon-header .melicon-header-content .header-actions .round svg {
    width: 20px;
    height: 20px;
}


.melicon-app .melicon-message-bar svg.meliconseo-close {
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.melicon-app .melicon-message-bar .upgrade-text {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.melicon-app .melicon-message-bar {
    padding: 0 14px 0 40px;
}

.melicon-app .melicon-message-bar {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #EAF0FF;
    justify-content: center;
    color: #4B657E;
    font-size: 13px;
}
.melicon-app .melicon-message-bar a {
    color: #4B657E;
}
.melicon-app .melicon-message-bar strong {
    font-weight: 600;
    color: #4B657E;
}

.melicon-app .melicon-message-bar a {
    color: #4B657E;
    text-decoration: underline;
}

.melicon-app a:not(.melicon-button).text-white {
    color: #4B657E;
    font-weight: 600;
}

.melicon-header .melicon-header-content {
    padding: 0;
    display: flex;
    height: 72px;
    align-items: center;
}

.melicon-header {
    display: inherit !important;
}

/*END header*/


/*Old Modulo Page*/

button.meliconnect-deactivate-settings {
    background-color: #feecf0;
    color: #cc0f35;
    border-color: transparent;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}

/* Override WP styles */

.wp-admin .wp-editor-wrap, .wp-admin .wp-editor-expand #post-status-info {
    z-index: 1;
}

/* Override custom select2 css styles */

.select2-container .select2-selection--single {
    height: auto !important;
    padding: 3px 0 !important;
    border: 1px solid #dbdbdb !important;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    top: 5px !important;
}

.select2-container .select2-selection--single .select2-selection__placeholder {
    color: #dbdbdb !important;
}

.select2-container .select2-dropdown {
    border: 1px solid #dbdbdb !important;
    border-top: 0 !important;
}

.select2-container .select2-dropdown .select2-search {
    margin: 5px;
}

.select2-container .select2-dropdown .select2-search .select2-search__field {
    padding: 10px !important;
    border-radius: 3px !important;
    font-size: 1rem;
    height: 2.25em;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
    max-width: 100%;
    width: 100%;
    border-radius: 3px !important;
}

.select2-container .select2-dropdown .select2-results__options {
    max-height: 200px !important;
}

.select2-container .select2-dropdown .select2-results__options .select2-results__option {
    padding: 0.37em 0.75em !important;
    font-size: 1rem;
}

/* END Override custom select2 css styles */


/*Styles applied in more than one page*/
.melicon-export-error-log-box-class {
    max-height: 600px;
    overflow-y: scroll;
}

.tabs.is-boxed li.is-active a {
    background-color: #F8FAFF !important;
}

.melicon-edit-product-box_content{
    border-color: #dbdbdb;
    border-top-color: transparent!important;
    border-bottom-color: transparent!important;
}


.melicon-edit-product-box_tabs {
    margin-bottom: 0px !important;
}

.melicon-disable-content{
    pointer-events: none;
    opacity: 0.4;
}

.melicon-box-progress{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 600px;
    width: 100%;
    z-index: 1000;
}


/*NORMALICE BULMA*/

body.wp-admin .select:not(.is-multiple) {
    height: inherit;
}

#woocommerce-product-data .select:not(.is-multiple):not(.is-loading)::after {
    border: none;
}

.quick-edit-row-post span.title {
    font-size: inherit;
}

.composer-switch a, .composer-switch div {
    box-sizing: initial;
}

span.tablenav-pages-navspan.button, a.next-page.button, a.last-page.button {
    height: inherit;
}

body.wp-admin [id*=woocommerce] .panel {
    border-radius: inherit;
    box-shadow: none;
    font-size: inherit;
}

body.post-type-product ul#product_cat-tabs .tabs a {
    align-items: inherit;
    border-bottom-color: inherit;
    border-bottom-style: inherit;
    border-bottom-width: inherit;
    color: inherit;
    display: inline;
    justify-content: center;
    margin-bottom: inherit;
    padding: inherit;
    vertical-align: inherit;
}

body.post-type-product ul#product_cat-tabs .tabs {
    -webkit-overflow-scrolling: inherit;
    align-items: inherit;
    display: inline;
    font-size: inherit;
    justify-content: inherit;
    overflow: inherit;
    overflow-x: inherit;
    white-space: inherit;
}

[class*=meliconnect] .input:active, [class*=meliconnect] .input:focus, [class*=meliconnect] .is-active.input, [class*=meliconnect] .is-active.textarea,
[class*=meliconnect] .is-focused.input, [class*=meliconnect] .is-focused.textarea, [class*=meliconnect] .select select.is-active, [class*=meliconnect] .select select.is-focused,
[class*=meliconnect] .select select:active, [class*=meliconnect] .select select:focus, [class*=meliconnect] .textarea:active, [class*=meliconnect] .textarea:focus {
    box-shadow: none !important;
}

/* END NORMALICE BULMA*/


/*Override Bulma*/

body[class*="meliconnect"] .notification.is-warning {

}

body[class*="meliconnect"] .notification p {
    font-size: 14px !important;
}

body[class*="meliconnect"] .notification.is-danger p a {
    color: #FFF;
}

body[class*="meliconnect"] [class*="has-background"] {
    border-radius: 4px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.progress::-webkit-progress-value {
    transition: width 10s ease;
}

.melicon-select {
    width: 100% !important;
}

.melicon-select:not(.is-multiple):not(.is-loading)::after {
    border: none !important;
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    border: 1px solid #c8cbcd;
}

body[class*=meliconnect] .card {
    /*border: 0;
    box-shadow: 0px 0px 38px 0px rgb(69 84 99 / 10%);*/
    box-shadow: none;
    background: transparent;
}

body[class*=meliconnect] .card-content {
    height: 100%;
    box-shadow: 0px 0px 1px 1px rgb(69 84 99 / 10%);
    margin-left: 4px;
    background-color: #FFF;
}

body[class*=meliconnect] #sync-hub-results .card {
    border: 0;
    
}

body[class*=meliconnect] .modal-card-title {
    font-size: 20px;
    font-weight: 600;
}

body[class*=meliconnect] .modal {
    z-index: 9999;
}

body[class*=meliconnect] .modal .modal-card-body label {
    font-weight: 500;
    font-size: 14px;
}

body[class*=meliconnect] .modal .modal-card-body .container-fluid, body[class*=meliconnect] .modal .modal-card-body .container.is-fluid {
    padding-right: 1rem;
    padding-left: 1rem;
}

body[class*=meliconnect] .modal-card {
    max-height: calc(100vh - 100px);
}

body[class*=meliconnect] .button.is-info.button-meliconnect {
    border-color: #0096cc;
    background-color: #0096cc;
    color: #fff;
    border-radius: 4px;
}

body[class*=meliconnect] .button.is-info.button-meliconnect:hover {
    border-color: #00779f;
    background-color: #00779f;
    color: #fff;
}

body[class*=meliconnect] .button.is-success.button-meliconnect {
    border-color: #0096cc;
    background-color: #0096cc;
    color: #fff;
    border-radius: 4px;
}

body[class*=meliconnect] .button.is-success.button-meliconnect:hover {
    border-color: #00779f;
    background-color: #00779f;
    color: #fff;
}

a.is-danger.button-meliconnect {

}

a.is-danger.button-meliconnect:hover {
    
}

/*End Override Bulma*/


/* Override custom wordpress styles */

body[class*="meliconnect"].wp-core-ui select {
    max-width: 100% !important;
    width: 100%;
    padding-right: 28px;
}

#melicon-step-create-template .wp-core-ui select:hover {
    color: transparent;
}

body[class*="meliconnect"] .melicon-title-page {
    text-align: left;
    color: #00779f;
    line-height: 26px;
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0px;
    padding: 10px 0px;
}

body[class*="meliconnect"] #wpcontent {
    padding: 0;
    background-color: #f3f4f5;
}

/* END Override custom wordpress styles */

/*Responsive*/

@media only screen and (min-width: 782px) {
    .melicon-container {
       padding: 0 30px;
    }
}

@media only screen and (min-width: 1042px) {
    .melicon-container {
       max-width: 1240px;
    }
}

@media screen and (min-width: 1024px) {
    .section {
       padding: 2rem 2rem;
    }
    #melicon-settings .section {
        padding: 2rem 1rem;
     }
}

.melicon-colapse-arrow {
    transition: transform .2s;
    font-size: 1.8em;
 }
  
.melicon-colapse-arrow.open {
    transform: rotateZ(180deg);
}

.melicon-is-pointer{
    cursor:pointer;
}

/* Estilos para los resultados del export masivo */
.melicon-export-error_product_name{
    font-size: 0.9em;
    margin-bottom: 10px;
    border-top: 1px solid #d9cece;
    padding-top: 20px;
}

.melicon-export-error_list_title{
    font-size: 0.7em;
    font-weight: bold;
}

.melicon-export-error_list_item{
    font-size: 0.7em;
}


/* Estilos product box seccion variations*/
.melicon-overflow-x{
    overflow-x: auto;
    overflow-y: hidden;
}

#meliconnect-shipping-list .bulkactions,#meliconnect-shipping-list .tablenav.bottom{
    display: none;
}

#meliconnect-shipping-list .meliconnect-comments-icon:hover, #meliconnect-shipping-list .meliconnect-shipping-icon{
    cursor: pointer;
}

#meliconnectAnswer, #meliconnectShipping{
    text-align: left;
}

.hideMeliconnectComment{
    display: none!important;
}

.melicon-sidebar {
    width: 570px;
    background-color: white;
    height: 100vh;
    padding: 20px 0px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(570px);
    z-index: 1550;
    position: fixed;
    top: 0;
    right: 0;
  }

.melicon-sidebar.open, #melicon-sidebar-overlay.open{
    transform: translateX(0);
}


.melicon-sidebar-inner{
    position: relative;
}

.melicon-sidebar-inner-header{
    background-color: #223F5A;
    padding: 30px 20px 20px 20px;
}

.melicon-sidebar-inner-header-title, .melicon-sidebar-inner-header-cancel i{
    color: white !important;
    font-weight:bold ;
}

.melicon-sidebar-inner-content{
    padding: 20px;
}

#melicon-sidebar-overlay{
    position: fixed;
    z-index: 1052;
    top: 0;
    bottom: 0;
    background-color: #141b38;
    opacity: .5;
    height: 100vh;
    width: 100vw;
    transform: translateX(100vw);
}
.melicon-sidebar-inner-content{
    height: 75vh;
    overflow-y: auto;
}

.melicon-sidebar-inner-content-item{
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 20px;
    margin-bottom: 30px !important;
}

.melicon-sidebar-inner-content-item-body-header-title{
    font-size: 1.2em;
    font-weight: bold;
}

.melicon-sidebar-inner-content-item-body-actions-btn{
    margin-right:20px;
}

.melicon-sidebar-inner-content-item-body-actions-link{
    margin-top: 10px;
}

.melicon-sidebar-inner-content-item-body-actions-link a{
    color:#8c8f9a !important;
}

.melicon-sidebar-inner-content-item-body-actions{
    padding:12px;
}

.melicon-sidebar-inner-header-title{
    font-size: 1.4em !important;
    font-weight: bold !important;
}

.melicon-sidebar-inner-footer{
    height: 90px;
}

.melicon-sidebar-inner-footer-dismissAll{
    margin:20px;
}


#melicon-duplicated-table .column-title {
    width:150px;
}

#melicon-duplicated-table .column-id {
    width:300px;
}

#melicon-duplicated-table .column-similar, 
#melicon-duplicated-table .column-meliconDelete, 
#melicon-duplicated-table .column-change, 
#melicon-duplicated-table .column-woostatus,
#melicon-duplicated-table .column-sells  {
    width:60px;
    text-align: center;
}


.meliconnect-stats-cards {
    margin-bottom: 80px;
}

.meliconnect-stats-cards .card{
    text-align: center;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02) !important;
    border: none !important;
}

.meliconnect-stats-cards .card-content{
    padding: 10px 0px 0px 0px !important;
    box-shadow: none !important;
}

.meliconnect-stats-cards .card-stat{
    font-weight: bolder;
    color: #14779f !important;
    text-transform: uppercase;
}

.meliconnect-stats-cards .card-stat-description{
    font-size: 1.2em !important;
    color: #14779f !important;
    text-transform: uppercase;
}

.meliconnect-user-box .meliconnect-userbox-data p{
    font-size: 1em !important;
}

.meliconnect-user-box .meliconnect-userbox-data span{
    font-size: 1.2em !important;
    font-weight: bolder;
}

.meliconnect-create-template-btn-disabled{
    background-color: rgb(244, 67, 54) !important;
    border-color: rgb(244, 67, 54) !important;
    color:white !important;
    cursor:not-allowed !important;
}
